.grid-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto 15%;
}

.flex-item {
    margin: 10px;
    padding: 10px;
}

.black-color-bg {
    background-color: #121418;
}

.flex-container {
    margin: 0 15%;
}

.password-flex-container {
    display: flex;
    flex-direction: row;
    margin: -30px auto;
    justify-content: center;
}

.password-flex-item {
    margin: 20px;
}



a,
a:visited,
a:link {
    font-weight: bold;
    text-decoration: none;
    color: white
}