.navbar-container {
    width: 100%;
    height: 10vh;
    color: white;
    background-color: #121418;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.navbar-outer-flex-item-left {
    flex: 0.5;
    padding: 10px 2%;
    display: flex;
    flex-direction: row;
}

.navbar-outer-flex-item-right {
    flex: 0.5;
    display: flex;
    margin-top: -4px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10vh;
}

/* .navbar-flex-item {
      display: inline;
  } */

.navbar-logo {
    font-weight: 800;
    font-size: 2.3rem;
    color: white;
    font-family: "Genos", sans-serif;
}

.navbar-link {
    font-weight: 500;
    margin-left: 35px;
    font-size: 1.3rem;
    color: white;
}